:root {
  --background-color: #21325e;
  --font-color: #f0f0f0;
  --light-accent: #f1d00a;
  --dark-accent: #3e497a;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: var(--background-color);
  padding: 10px;
  box-shadow: 2px 5px 5px #000;
}

.footer {
  margin-top: 20px;
  font-size: 12px;
  background: var(--font-color);
}

.github {
  color: var(--dark-accent);
  text-decoration: none;
}
.container {
  width: 500px;
  margin: 0 auto;
}

h1 {
  color: var(--font-color);
}

.subtitle {
  margin-top: -20px;
  color: var(--font-color);
  opacity: 0.5;
  font-size: 13px;
  font-style: italic;
}

.advice-shown {
  background: var(--dark-accent);
  color: var(--light-accent);
  font-style: italic;
  width: 450px;
  border-radius: 10px;
  padding: 10px;
  margin: 0 auto;
}

button {
  margin-top: 10px;
  background: var(--background-color);
  color: #fff;
  border: 1px solid var(--dark-accent);
  box-shadow: 2px 5px 5px #000;
  padding: 5px;
  cursor: pointer;
  transition: 200ms ease-in-out;
}

button:hover {
  background: var(--light-accent);
  border: 1px solid var(--dark-accent);
  color: var(--background-color);
}
